<h1 align="center" class="display-4 mb-5">All Employees</h1>
<table class="table table-striped text-center">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">vacation Days left</th>
    <th scope="col">workDays</th>
    <th scope="col">Action</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let emp of list">


    <td class="align-middle">{{emp.id}}</td>
    <td class="align-middle">{{emp.name}}</td>
    <td class="align-middle">{{emp.vacationDays| number:'0.2-2' }}</td>
    <td class="align-middle">{{emp.workDays}}</td>

    <td class="align-middle"><button type="button" class="btn btn-info" routerLink="/emp/{{emp.id}}/work">Set workdays</button>
    </td>
    <td class="align-middle"><button type="button" class="btn btn-info" routerLink="/emp/{{emp.id}}/vacation">Take Vacation</button>
    </td>



  </tr>

  </tbody>
</table>
